<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daddy Hub</title>
    <link rel="shortcut icon" type="image/png" href="/images/main_logo.png" />
    <link rel="stylesheet" href="/home.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: rgb(12,17,27);">
    <!-- Master  -->
    <div class="master">
        <!-- navigation -->
        <nav class="navigation fixed-top">
            <div class="navIteams">
                <div class="menu">
                    <div id="menuLines" onclick="myFunction()"
                        style="font-size: 30px; cursor: pointer;color: rgb(188, 188, 189);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </div>
                    <div class="ddown">
                        <a class="navFix" href="https://daddyhub.in/category/web">Web-Series</a>
                        <a href="https://daddyhub.in/suggestion">Suggestion</a>
                        <a href="https://daddyhub.in/tips">Tips</a>
                    </div>
                </div>

                <div class="fixin">
                    <div class="logoo">
                        <a href="https://daddyhub.in/">
                            <img src="/images/logo_bgLess.png" alt="Movie City" style="width: auto;height: 40px;">
                        </a>
                    </div>
                    <div class="ul">
                        <div class="li">
                            <div class="dropdown">
                                <span>Movies</span>
                                <div class="dropdown-content">
                                    <a href="https://daddyhub.in/category/bollywood">Bollywood</a>
                                    <a href="https://daddyhub.in/category/hollywood">Hollywood</a>
                                </div>
                            </div>
                        </div>
                        <div class="li">
                            <a href="https://daddyhub.in/category/web">
                                <span>Web-Series</span>
                            </a>
                        </div>
                    </div>
                    <div class="last container-fluid">
                        <div class="searchField ">
                            <form action="https://daddyhub.in/search" class="input-group" method="get">
                                <input type="search" id="search-input" type="search" id="form1" name="q"
                                    placeholder="Search" class="sear">
                                <button type="submit" class="btnsearch">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </nav>

        <!-- Slider  -->
        <div class="main-back">
            <div class="mmm">
                
                <div class="slidder">
                    <div id="bg-trans1">
                    </div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner h-auto">
                            <div class="carousel-item active">
                                <a href="https://daddyhub.in/movie/<%= bigImg[0].name %>">
                                    <img class="d-block w-100" src="<%= bigImg[0].poster %>" alt="<%= bigImg[0].name %>"">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://daddyhub.in/movie/<%= bigImg[1].name %>">
                                    <img class="d-block w-100" src="<%= bigImg[1].poster %>"" alt="<%= bigImg[1].name %>"">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://daddyhub.in/movie/<%= bigImg[2].name %>">
                                    <img class="d-block w-100" src="<%= bigImg[2].poster %>"" alt="<%= bigImg[2].name %>"">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div id="bg-trans2">
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Poster Images  -->
        <div class="main-poster">
            <div class="title-bar flex">
                <h4 style="color: white;">Latest & Trending</h4>
                <div class="bann">
                    <div class="bord" style="background-color: rgb(0, 255, 0);"></div>
                </div>
            </div>
            <div class="posting">

                <% let increment;%> 
                <% increment = num + 1;  %> 

                <% let i = 16 * num , j = 8 * (num + increment); %> 

                <% for(let i = 16 * num; i < j; i++){ %> 
                    <a href="https://daddyhub.in/movie/<%= data[i].name %> ">
                        <div class="con">
                            <img src="<%=data[i].poster%> " alt="<%= data[i].name %> " class="image">
                            <div class="overlay">
                                <div class="pri">
                                    <div class="print shadow-lg">
                                        <% let pcheck;%> 
                                        <span><%  if(data[i].cam_print == "y"){ %> 
                                            <% pcheck = 'CAM' %>
                                            <%= pcheck %>  
                                        <% }else{ %> 
                                            <% pcheck = 'HD' %>
                                            <%= pcheck %>
                                        <% } %> 
                                        </span>
                                    </div>
                                </div>
                                <div class="desc">
                                    <span><%= data[i].name %> </span>
                                    <p><%= data[i].length %> <%= data[i].genre %></p>
                                    <p><%= data[i].language %> | <%= data[i].year %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %> 
            </div>
        </div>

        <div class="main-poster">
            <div class="title-bar flex">
                <h4 style="color: white;">Popular Movies</h4>
                <div class="bann">
                    <div class="bord" style="background-color: rgb(0, 255, 0);"></div>
                </div>
            </div>
            <div class="posting">

                <% let m = 8 * (increment + num) ,n = 16 * increment %>

                <% for(let i = m; i < n; i++){ %>
                    <a href="https://daddyhub.in/movie/<%= data[i].name %> ">
                        <div class="con">
                            <img src="<%=data[i].poster%> " alt="<%= data[i].name %> " class="image">
                            <div class="overlay">
                                <div class="pri">
                                    <div class="print shadow-lg">
                                        <% let pcheck;%> 
                                        <span><%  if(data[i].cam_print == "y"){ %> 
                                            <% pcheck = 'CAM' %>
                                            <%= pcheck %>  
                                        <% }else{ %> 
                                            <% pcheck = 'HD' %>
                                            <%= pcheck %>
                                        <% } %> 
                                        </span>
                                    </div>
                                </div>
                                <div class="desc">
                                    <span><%= data[i].name %> </span>
                                    <p><%= data[i].length %> <%= data[i].genre %></p>
                                    <p><%= data[i].language %> | <%= data[i].year %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %> 
            </div>
        </div>

        <div class="pageButton">
            <div class="buttonmain">
                

                    <% if(parseInt(num) == 0){ %> 
                        <div class="jaydeep" style="background-color: rgb(126, 126, 126);  box-shadow: hsl(0, 100%, 50%) 0px 22px 70px 4px; ">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                </svg>
                            </a>
                        </div>
                    <% }else if( num >= 1){ %> 
                        <div class="jaydeep">
                            <a href="https://daddyhub.in/page/<%=num-1%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                </svg>
                            </a>
                        </div>
                    <% } %> 


                
                <div class="jaydeep">

                    <% let p = data.length; %> 
                    <% let q = p / 16;let tot = parseInt(q);%>


                    <% if(num+1 < tot){  %> 

                        <a href="https://daddyhub.in/page/<%= num+1 %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </a>

                    <% }else{%>

                        <a href="https://daddyhub.in/page/<%= num %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </a>
                    <%} %>
                    

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </a></li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="https://daddyhub.in/">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="https://daddyhub.in/suggestion">Feedback</a></li>
        </ul>

        <div class="copyright" align="center" style="color: rgb(185, 185, 185);">
            <script>
                document.write('&copy;');
                document.write(' 2020 - ');
                document.write(new Date().getFullYear());
                document.write(' www.daddyhub.in - All Rights Reserved.');
            </script>
        </div>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            if (screen.width <= 460) {
                let count = 0;
                let x = document.querySelector('.ddown')
                if (count == 1) {
                    x.style.display = "block";
                    count++;
                }
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>