<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= datam.name %> (<%= datam.year %>)
    </title>
    <link rel="shortcut icon" type="image/png" href="/images/main_logo.png" />
    <link rel="stylesheet" href="/inner.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: rgb(12,17,27);">
    <!-- Master  -->
    <div class="master">
        <!-- navigation -->

        <nav class="navigation fixed-top">
            <div class="navIteams">
                <div class="menu">
                    <div id="menuLines" onclick="myFunction()"
                        style="font-size: 30px; cursor: pointer;color: rgb(188, 188, 189);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </div>
                    <div class="ddown">
                        <a class="navFix" href="#">Movies</a>
                        <a class="navFix" href="http://localhost:3000/category/web">Web-Series</a>
                        <a href="#">Suggestion</a>
                        <a href="#">Contect us</a>
                    </div>
                </div>

                <div class="fixin">
                    <div class="logoo">
                        <a href="http://localhost:3000/">
                            <img src="/images/logo_bgLess.png" alt="Daddy Hub" style="width: auto;height: 40px;">
                        </a>
                    </div>
                    <div class="ul">
                        <div class="li">
                            <div class="dropdown">
                                <span>Movies</span>
                                <div class="dropdown-content">
                                    <a href="http://localhost:3000/category/bollywood">Bollywood</a>
                                    <a href="http://localhost:3000/category/hollywood">Hollywood</a>
                                </div>
                            </div>
                        </div>
                        <div class="li">
                            <a href="http://localhost:3000/category/web">
                                <span>Web-Series</span>
                            </a>
                        </div>
                    </div>
                    <div class="last container-fluid">
                        <div class="searchField ">
                            <form action="http://localhost:3000/search/" class="input-group" method="get">
                                <input type="search" id="search-input" type="search" id="form1" name="q"
                                    placeholder="Search" class="sear">
                                <button type="submit" class="btnsearch">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </nav>

        <!-- INNER START  -->
        <div class="innerMaster">

            <div class="head">
                <div class="movie_name">
                    <h1>
                        <%= datam.name %>
                    </h1>
                    <p>
                        <%= datam.year %> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                            </svg>U<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                            </svg>
                            <% if(type=="movie" ){ %>
                                <%= datam.length %>
                                    <% }else{ %>
                                        Episodes - <%= datam.episodes%>
                                            <% } %>
                    </p>
                </div>
                <div class="starRating">
                    <p>IMDB RATING</p>
                    <div class="starLine">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <div class="rate">
                            <p><b style="color: white">
                                    <%= datam.imdb %>
                                </b>/10</p>
                            <p>
                                <%= datam.popularity %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-box">
                <div class="main-img">
                    <img src="<%= datam.poster %>" alt="<%= datam.name %> ">
                </div>
                <div class="content-desc">
                    <div class="in-desc">
                        <h3 style="color: white;">Story :</h3>
                        <span style="font-size: 16px;color: #adb5bd;">
                            <%= datam.genre %>
                        </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-dot" style="color: #adb5bd;" viewBox="0 0 16 16">
                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                        </svg><span style="font-size: 16px;color: #adb5bd;">
                            <%= datam.year %> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-dot" style="color: #adb5bd;" viewBox="0 0 16 16">
                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                        </svg> <% if(datam.language == "Hindi"){ %> 
                            <%= datam.language %> | English
                        <% }else{ %> 
                            <%= datam.language %>
                        <% } %>  
                        </span> 

                        <p style="color: #adb5bd;">
                            <%= datam.story %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="head2">
                <h2>Download<svg width="20" style="transform: rotate(90deg); margin-left: 10px;" height="20"
                        xmlns="https://www.w3.org/2000/svg" class="
                    ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline
                    ipc-title-link-chevron
                    ipc-title--nomargin
                  " viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path
                            d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z">
                        </path>
                    </svg></h2>
            </div>
            <div class="head3">
                <div class="ooo">

                    <select class="mybb" onchange="downloadL()">
                        <% if(type=="movie" ){ %>
                            <option selected value="0">1080P (Recommended)</option>
                            <option value="1">480P</option>
                            <option value="2">720P</option>
                            <% }else{ %>
                                <% if(datam.download_links.length < 3){ %>
                                    <% if(datam.download_links.length==1){ %>
                                        <option selected value="0">All Episodes</option>
                                        <% }else{ %>
                                            <option selected value="0">Part-1</option>
                                            <% for(let i=0; i < datam.download_links.length;i++){ %>
                                                <option value="<%= i+1 %> ">Part-<%= i+2 %>
                                                </option>
                                                <% } %>
                                                    <% } %>
                                                        <% }else{ %>
                                                            <option selected value="0">Episode-1</option>
                                                            <% for(let i=0; i < datam.download_links.length-1;i++){ %>
                                                                <option value="<%= i+1 %> ">Episode-<%= i+2 %>
                                                                </option>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                    </select>
                    <% if(type == 'web'){ %> 
                        <select class="mybb">
                            <option selected value="0">1080P (Recommended)</option>
                            <option value="1">480P</option>
                            <option value="2">720P</option>
                        </select>
                    <% } %> 
                </div>

                <% if(type=='movie' ){ %>

                    <a class="select2 container-fluid" href="<%= datam.download_links%> ">
                        <div class="download-text">
                            <span>Download</span> <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                    fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path
                                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                    <path
                                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                </svg>
                            </span>
                        </div>
                    </a>
                    <% }else{%>

                        <a class="select2" href="<%= datam.download_links[0]%> " id="downloadWeb">
                            <div class="download-text">
                                <span>Download</span> <span><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                        height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                </span>
                            </div>
                        </a>

                        <% } %>


                            <!-- <script type="text/javascript" src="./../data.json"></script> -->



            </div>

            <div class="head2">
                <h2>Latest Movies<svg width="20" style="transform: rotate(90deg); margin-left: 10px;" height="20"
                        xmlns="https://www.w3.org/2000/svg" class="
                    ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline
                    ipc-title-link-chevron
                    ipc-title--nomargin
                  " viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path
                            d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z">
                        </path>
                    </svg></h2>
            </div>

            <div class="main-poster">
                <div class="posting">

                    <% let arr = []; %> 
                    <% for(let i=0; i < 8; i++){ %>
                        <% let rand; %> <% rand = Math.floor(Math.random()*16);%> 
                        <% if(arr.length > 0){ %> 
                            <% for(let i = 0; i < arr.length ; i++){ %> 
                                <% if(rand == arr[i]){ %> 
                                    <% rand =  Math.floor(Math.random()*16); %> 
                                <% } %> 
                            <% } %> 
                        <% } %> 
                            
                        <% arr.push(rand); %> 

                        <a href="http://localhost:3000/movie/<%= data[rand].name %> ">
                            <div class="con">
                                <img src="<%=data[rand].poster%> " alt="<%= data[rand].name %> " class="image">
                                <div class="overlay">
                                    <div class="desc">
                                        <span>
                                            <%= data[rand].name %>
                                        </span>
                                        <p>
                                            <%= data[rand].length %>
                                                <%= data[rand].genre %>
                                        </p>
                                        <p>
                                            <%= data[rand].language %>,<%= data[rand].year %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
        <div class="ho">
            <a class="hoo" href="http://localhost:3000/">
                <ion-icon name="home-outline"></ion-icon>
            </a>
        </div>
    </div>
    <footer class="footer">
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </a></li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="http://localhost:3000/">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="http://localhost:3000/feedback">Feedback</a></li>
            <li class="menu__item"><a class="menu__link" href="http://localhost:3000/contect us">Contect us</a></li>
        </ul>

        <div class="copyright" align="center" style="color: rgb(185, 185, 185);">
            <script>
                document.write('&copy;');
                document.write(' 2020 - ');
                document.write(new Date().getFullYear());
                document.write(' www.daddyhub.in - All Rights Reserved.');

                function downloadL() {
                    let JsonData = '<%- JSON.stringify(datam) %>';
                    let n = JSON.parse(JsonData);
                    // console.log(n.download_links);
                    let s = document.querySelector('select').value.split(" ").join("");
                    let selection = parseInt(s);

                    document.querySelector('#downloadWeb').href = n.download_links[selection];

                }

            </script>
        </div>

    </footer>

    <!-- Optional JavaScript -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>