<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daddy Hub</title>
    <link rel="stylesheet" href="/search.css">
    <link rel="shortcut icon" type="image/png" href="/images/main_logo.png" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: rgb(12,17,27);">
    <!-- Master  -->
    <div class="master">
        <!-- navigation -->
        <nav class="navigation fixed-top">
            <div class="navIteams">
                <div class="menu">
                    <div id="menuLines" onclick="myFunction()"
                        style="font-size: 30px; cursor: pointer;color: rgb(188, 188, 189);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </div>
                    <div class="ddown">
                        <a href="https://daddyhub.in/category/bollywood">Bollywood</a>
                        <a href="https://daddyhub.in/category/hollywood">Hollywood</a>
                        <a class="navFix" href="https://daddyhub.in/category/web">Web-Series</a>
                        <a href="https://daddyhub.in/suggestion">Suggestion</a>
                        <a href="https://daddyhub.in/tips">Tips</a>
                    </div>
                </div>

                <div class="fixin">
                    <div class="logoo">
                        <a href="https://daddyhub.in/">
                            <img src="/images/logo_bgLess.png" alt="Movie City" style="width: auto;height: 40px;">
                        </a>
                    </div>
                    <div class="ul">
                        <div class="li">
                            <div class="dropdown">
                                <span>Movies</span>
                                <div class="dropdown-content">
                                    <a href="https://daddyhub.in/category/bollywood">Bollywood</a>
                                    <a href="https://daddyhub.in/category/hollywood">Hollywood</a>
                                </div>
                            </div>
                        </div>
                        <div class="li">
                            <a href="https://daddyhub.in/category/web">
                                <span>Web-Series</span>
                            </a>
                        </div>
                    </div>
                    <div class="last container-fluid">
                        <div class="searchField ">
                            <form action="https://daddyhub.in/search" class="input-group" method="get">
                                <input type="search" id="search-input" type="search" id="form1" name="q"
                                    placeholder="Search" class="sear">
                                <button type="submit" class="btnsearch">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </nav>

        <!-- Slider  -->
        

        <!-- Poster Images  -->
        <div class="main-poster">
            <div class="title-bar flex">
                <h4 style="color: white;">Search Result</h4>
                <div class="bann">
                    <div class="bord" style="background-color: rgb(0, 255, 0);"></div>
                </div>
            </div>
            <div class="posting">
                <% for(let i = 0; i < arr.length; i++){ %> 
                    <a href="https://daddyhub.in/movie/<%= arr[i].name %> ">
                        <div class="con">
                            <img src="<%=arr[i].poster%> " alt="<%= arr[i].name %> " class="image">
                            <div class="overlay">
                                <div class="desc">
                                    <span><%= arr[i].name %> </span>
                                    <p><%= arr[i].length %> <%= arr[i].genre %></p>
                                    <p><%= arr[i].language %>,<%= arr[i].year %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %> 
            </div>
        </div>
        <div class="ho">
            <a class="hoo" href="https://daddyhub.in/">
                <ion-icon name="home-outline"></ion-icon>
            </a>
        </div>
    </div>
    <footer class="footer">
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </a></li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="https://daddyhub.in/">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="https://daddyhub.in/suggestion">Feedback</a></li>
        </ul>

        <div class="copyright" align="center" style="color: rgb(185, 185, 185);">
            <script>
                document.write('&copy;');
                document.write(' 2020 - ');
                document.write(new Date().getFullYear());
                document.write(' www.daddyhub.in - All Rights Reserved.');
            </script>
        </div>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            if (screen.width <= 460) {
                let count = 0;
                let x = document.querySelector('.ddown')
                if (count == 1) {
                    x.style.display = "block";
                    count++;
                }
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>